.weather__all-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.view_description_container {
  text-align: center;
  text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.513);
}
.app__title {
  font-size: 50px;
  letter-spacing: 5px;
  font-weight: lighter;
  text-align: center;
}
.app_view_description {
  font-size: 16px;
  text-align: center;
  letter-spacing: 5px;
}
.weather__card {
  margin-top: 50px;
  border: 1px solid rgba(79, 5, 129, 0.575);
  padding: 40px 80px 40px;
  border-radius: 5px;
  box-shadow: 0.5px 1px 8px 2px rgba(0, 6, 83, 0.459);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.weather__main-city {
  letter-spacing: 12px;
  text-align: center;
}

.weather__location {
  padding-left: 10px;
}

.main__description {
  display: flex;
  align-items: center;
  justify-content: center;
}
.weather__icon {
  width: 140px;
}
.temperature {
  font-size: 50px;
  font-weight: lighter;
  letter-spacing: 4px;
}

.weather__description {
  font-size: 35px;
  margin-top: -20px;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 6px;
  left: 4px;
}
.weather__values {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (min-width: 1401px) {
  .weather__all-container {
    justify-content: space-evenly;
  }
  .app__title {
    font-size: 65px;
  }
  .weather__card {
    margin-top: 0;
  }
  .app_view_description {
    font-size: 21px;
  }
  .weather__card {
    width: 480px;
    height: 288px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .weather__values {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .app__title {
    font-size: 40px;
  }
  .weather__card {
    padding: 30px 65px 30px;
  }
}
@media screen and (max-width: 425px) {
  .weather__card {
    padding: 15px 22px 15px;
  }
  .weather__description {
    font-size: 28px;
  }
  .temperature {
    font-size: 35px;
  }
  .weather__icon {
    width: 120px;
  }
  .view_description_container {
    display: none;
  }
  .containerBackground {
    height: auto;
  }
}
@media screen and (max-width: 320px) {
}
