.modalContainer {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.69);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 2;
  color: white;
}
.modalContainer {
  text-align: center;
}
.allowArrow {
  transform: rotate(270deg);
  position: absolute;
  top: 150px;
  left: 275px;
  width: 200px;
  filter: invert(100%);
}
@media screen and (min-width: 1401px) {
  .allowArrow {
    top: 160px;
    left: 295px;
  }
}
@media screen and (max-width: 767px) {
  .allowArrow {
    display: none;
  }
}
@media screen and (max-width: 425px) {
  .allowArrow {
    display: none;
  }
  .modal__txt {
    padding: 10px;
  }
}

@media screen and (max-width: 320px) {
  .allowArrow {
    display: none;
  }
}
