div.go__ahead-container {
  width: 40px;
  height: 100vh;
  position: absolute;
  right: 0px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 2s;
  border-radius: 5px 0 0 5px;
  background-color: rgba(0, 0, 0, 0.308);
  animation: colors 2s;
  animation-iteration-count: 1;
}
.arrow__go-ahead {
  width: 25px;
  position: absolute;
  filter: invert(100%);
}
div.go__ahead-container:hover img.arrow__go-ahead {
  animation: move 2s infinite;
  transition: all 3s;
  filter: invert(0%);
}
div.go__ahead-container:hover {
  background-color: white;
  transition: all 2s;
  border-radius: 20px 0 0 20px;
}
@keyframes move {
  0% {
    transform: scaleY(-1);
  }
}

@media screen and (max-width: 425px) {
  div.go__ahead-container {
    bottom: 0px;
    height: 50px;
    width: 100%;
    right: none;
  }
  .arrow__go-ahead {
    transform: rotate(90deg);
  }
}
