.all__welcome_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  flex-direction: column;
  height: 100vh;
}
.welcome__title {
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: lighter;
  margin-bottom: 100px;
  text-align: center;
  text-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
}
.app_features {
  text-align: left;
  letter-spacing: 3px;
  font-size: 15px;
  text-align: center;
  margin-top: 60px;
}
.feature_description {
  margin: 30px 0;
  list-style: none;
}
.welcome__description {
  margin-bottom: 30px;
  margin-top: 100px;
  text-align: center;
  font-style: italic;
  font-size: 15px;
}

@media screen and (min-width: 1401px) {
  .welcome__title {
    font-size: 60px;
  }
  .app_features {
    font-size: 25px;
  }
}
@media screen and (max-width: 767px) {
  .welcome__title {
    font-size: 32px;
  }
}
@media screen and (max-width: 425px) {
  .welcome__title {
    font-size: 26px;
  }
}

@media screen and (max-width: 320px) {
  .app_features {
    padding: 0 5px 5px 5px;
  }
}
